*{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgba(255, 0, 0, 0.801);
}

.container{
    display: flex;
    justify-content: center;
}

.form{
    width: 410px;
    height: 200px;

    border-style: solid;
    border-color: rgba(255, 8, 8, 0.61);

    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs{
    font-size: 20px;
    color: rgba(177, 35, 35, 0.788);
}

.inputs input{
    height: 20px;
    width: 200px;
    border-color: white;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.712);
    box-shadow: 1px 1px solid black;
    
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    color: rgba(177, 35, 35, 0.788);
    border-color: white;
}

.button button:hover{
    height: 40px;
    width: 110px;
    transition-duration: 1s;
    font-size: 15px;
}