<?php 

?>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Estilos/categoria.css">
    <title>Document</title>
</head>
<body>
<div class="title">
       <h1>Cadastrar Categoria de Produtos</h1>
</div>
<div class="container">
       <div class="form">
              <form action="index.php?acao=cadastrarCategoria" method="POST">
                      <div class="inputs">
                             <label for="txtcodigoCategoria">Código da Categoria:</label>
                             <input type="number" id="txtcodigoCategoria" name="txtcodigoCategoria"
                                    value="<?php echo isset($categorias ['codigo']) ? $categorias ['codigo'] : ''; ?>" required><br><br>
                             <label for="txtcategoria">Nome da categoria:</label>
                             <input type="text" id="txtcategoria" name="txtcategoria"
                                    value="<?php echo isset($categorias ['categoria']) ? $categorias ['categoria'] : ''; ?>" required><br><br>
                      </div>
       
                     <div class="button"><button type="submit">Salvar </button></div>
       </div>
</div>
</body>
</html>